.hidden {
	display: none
}

.nowrap {
	white-space: nowrap
}

.separator {
	margin: 2em
}

.round_tl {
	border-top-left-radius: 1em;
}

.round_tr {
	border-top-right-radius: 1em;
}

.round_bl {
	border-bottom-left-radius: 1em;
}

.round_br {
	border-bottom-right-radius: 1em;
}

body {
	margin: 0;
	padding: 0;
	font-size: large;
	font-family: georgia;
	background-color: oldlace;
}

h1,h2,h3,h4,h5 {
	text-align: center;
}

input {
	font-size: x-large;
	font-family: georgia;
}

button {
	font-size: xx-large;
	font-family: georgia;
}

a {
	padding: 1em;
	line-height: 3em;
	font-size: x-large;
	color: steelblue;
	background-color: oldlace;
	border: solid medium skyblue;
	border-radius: 1em;
	text-decoration: none;
}

a:hover {
	color: mintcream;
	background: lightblue;
	border: solid medium cornflowerblue;
}

table {
	margin: auto;
	padding: 1em;
	border: thin solid steelblue;
	background-color: white;
}

table#login td {
	font-weight: bold;
	color: steelblue;
	background: linen;
	border-style: solid;
	border-radius: 1em;
}

table#index,table#saver {
	padding: 0;
}

table#users,table#forms {
	border-spacing: 0;
}

th {
	padding: 1em;
	color: white;
	background: cornflowerblue;
	border-top: double;
	border-bottom: double;
	border-width: thick;
	font-size: x-large;
	font-weight: bolder;
	font-family: georgia;
	cursor: pointer;
}

td {
	padding: 1em;
	text-align: center;
	border-style: none;
	border-width: thin;
	border-color: steelblue;
	cursor: pointer;
}

td.info {
	border-bottom: dashed thin cadetblue;
}

td.user {
	text-align: right;
	border-top-style: solid;
	border-right-style: solid;
	background-color: mintcream;
}

td.pass {
	text-align: right;
	color: steelblue;
	background-color: mintcream;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: solid;
}

td.button {
	background-color: skyblue;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
}